*.swp
*.log
*.bundle
*.o
*.rbc
.rbenv-version
ext/xcodeproj/.RUBYARCHDIR.time
ext/xcodeproj/extconf.h
ext/xcodeproj/conftest.dSYM
ext/xcodeproj/Makefile
ext/xcodeproj/siteconf*.rb
*.gem
.yardoc
doc
tmp
.DS_Store
xcuserdata
rakelib/doccoverage/
coverage/
.coveralls.yml
spec/plutil_helper/obj
