*.swp
Makefile
*.log
*.bundle
*.o
*.rbc
.rbenv-version
ext/xcodeproj_ext/extconf.h
ext/xcodeproj_ext/conftest.dSYM
ext/xcodeproj_ext/.RUBYARCHDIR.time
ext/xcodeproj_ext/siteconf*.rb
*.gem
.yardoc
doc
tmp
.DS_Store
xcuserdata
rakelib/doccoverage/
coverage/
.coveralls.yml
