!!! 5
%html
  %head
    %title XcodeProj
    %meta{:charset => 'UTF-8'}
    %link{:rel => 'stylesheet', :href => "css/bootstrap.css"}
    %link{:rel => 'stylesheet', :href => "css/app.css"}

  %body
    .container
      %h1 xcodeproj
      %script{:type => "text/x-handlebars"}
        {{view App.BreadcrumbView}}

      .row
        -# Project navigator
        .span3
          #projectNavigator
          %script{:type => "text/x-handlebars"}
            .project-navigator.well{:style=>"padding: 8px 0;"}
              %ul.nav.nav-list
                %li
                  %a{:href=>'#'}
                    %i.icon-home
                    Build Settings

                %li.divider
                {{#each App.project.content}}
                {{#view App.NodeView contentBinding="this"}}
                %a{:href=>'#'}
                  {{view App.IconView contentBinding="this"}}
                  {{name}}
                {{/view}}p
                {{/each}}
            .btn-group
              %button#target.btn {{App.controller.selectedTarget.name}}
              %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
                %span.caret
              %ul.dropdown-menu
                {{#each App.targets.content}}
                %li
                  %a {{name}}
                {{/each}}
            .btn-group#build-action{'data-toggle' => "buttons-radio"}
              %button.btn Build
              %button.btn Deploy

        -# Detail View
        .span9
          %script{:type => "text/x-handlebars"}
            {{view Ember.ContainerView currentViewBinding="App.controller.editorView"}}

    -# Templates ##############################################################

    -# BreadcrumbView
    %script{:type => "text/x-handlebars", 'data-template-name' => 'breadcrumb-view'}
      %ul.breadcrumb{:style => "margin-top:30px"}
        %li
          %a{:href=>'#'} file_name.xcodeproj
          %span.divider /
        {{#each node in App.controller.selectedNode.parents }}
        {{#view App.NodeView contentBinding="node"}}
        %a{:href=>'#'} {{node.name}}
        %span.divider /
        {{/view}}
        {{/each}}
        {{#view App.NodeView contentBinding="node"}}
        %li.active
          %a{:href=>'#'} {{App.controller.selectedNode.name}}
        {{/view}}

    -# GroupView
    %script{:type => "text/x-handlebars", 'data-template-name' => 'group-view'}
      #file_browser
        %table.table.table-bordered.table-striped{:style => 'width:700px'}
          %thead
            %tr
              %th Name
              %th Type
          %tbody
            {{#each node in App.controller.editorNode.children}}
            {{#view App.NodeRowView contentBinding="node"}}
            %td {{node.name}}
            %td {{node.type}}
            {{/view}}
            {{/each}}

    %script{:type => "text/x-handlebars", 'data-template-name' => 'code-editor'}
      #editor_containter
        #editor


    %script{:type => "text/x-handlebars", 'data-template-name' => 'build-settings'}
      Build Settings

    :javascript
      ENV = { CP_DEFAULT_CACHEABLE: true, VIEW_PRESERVES_CONTEXT: true };

    %script{:src => "js/libs/jquery-1.7.2.min.js"}
    %script{:src => "js/libs/ember-0.9.8.1.js"}
    %script{:src => "js/libs/ember-rest-0.1.1.js"}
    %script{:src => "js/libs/ace.js"}
    %script{:src => "js/libs/theme-solarized_dark.js"}
    %script{:src => "js/libs/keybinding-vim.js"}
    %script{:src => "js/libs/mode-c_cpp.js"}
    %script{:src => "js/libs/bootstrap.js"}
    %script{:src => "js/app.js"}

